*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 100px;
  background-color: cyan;
}
nav{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.logo{
  font-size: 40px;
  color: white;
  font-weight: 700;
}
ul{
  display: flex;
  list-style-type: none;
  line-height: 60px;
}
li{
  margin-right:20px ;
  font-size: 20px;

}
a{
  text-decoration:none;

}
main{
  width: 100%;
  height: 600px;
  background-color: blue;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.img{
  width: 40%;
  height: 100%;
}
.content{
  width: 40%;
  height: 40%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  margin-top: 100px;
  
}
h1{
  color: wheat;
  margin-bottom: 50px;
}
p{
  color: rgb(151, 225, 13);
  margin-bottom: 50px;
}
button{
  height: 40px;
  font-size: 25px;
  padding: 5px;
  color: rgb(80, 79, 77);
  border-radius: 20px;
  background-color: aqua;
}
footer{
  width: 100%;
  height: 80px;
  background-color: rgb(150, 145, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}